.vio-filter-form{
    opacity: 1;
}

/*
*any element with data-click-link attribute (see directives.js)
*http://www.w3schools.com/cssref/css_selectors.asp
*/
*[data-click-link]{
    cursor: pointer;
}

/*links a-la bootstrap(c) breadcrumbs*/
.custom-nav a:after{
    content: " /";
    color: blue;
}

.custom-nav li:first-child a{
    padding-left: 15px;
    padding-right:0px;
}

.custom-nav li:last-child a:after{
    content: "";
}

.custom-nav li:last-child a{
    padding-right:15px;
}

.custom-nav li a{
    /* http://htmlbook.ru/samcss/kaskadirovanie */
    color: #428bca !important; /* a color from bootstrap css*/
    padding-right:3px;
    padding-left: 3px;
}

.custom-nav li a:hover{
    text-decoration: underline;
}

.custom-nav li a.active{
    color: #777 !important;
    text-decoration: none;
}

footer.navbar {
    min-height:1px;
}

