<!DOCTYPE html>
<html data-ng-app>
    <head>
        <title>Список документов</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link 
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" 
            rel="stylesheet">

        <link 
            href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"
            rel="stylesheet">

        <link href="css/appctl.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <script type="text/javascript">

            function DocCtrl($scope, $http) {

                $scope.range = {
                    finish: 0,
                    count: 15,
                    start: 0,
                    forward: 1 //0- refresh, -1 - backward, +1 - forward
                };

                function getRangeHeaderStr() {
                    var start, finish;
                    if ($scope.range.forward !== 0) {
                        var start = ($scope.range.forward > 0) ? $scope.range.finish
                                : $scope.range.start - $scope.range.count;
                        var finish = ($scope.range.forward > 0) ? Number($scope.range.finish) + Number($scope.range.count)
                                : Number($scope.range.start);
                    } else {
                        start = $scope.range.start;
                        finish = $scope.range.start + $scope.range.count;
                    }
                    return start + '-' + finish;
                }


                function setRange(rangeStr) {
                    var sr = rangeStr.split('-');
                    $scope.range.start = Number(sr[0]);
                    $scope.range.finish = Number(sr[1]);
                }


                $scope.setFetchNarrow = function(narrow) {
                    $scope.range.forward = narrow;
                };

                $scope.getDocs = function() {
                    $http.get('rst/doc', {
                        headers: {"X-Range": getRangeHeaderStr()}
                    }).success(function(data, status, headers) {
                        //   console.log(headers('Content-Range'));
                        setRange(headers('X-Content-Range'));
                        $scope.docs = data;
                    });
                };

                $scope.setSearch = function() {
                    $scope.searchQuery = $scope.searchQueryText;
                    console.log($scope.searchQuery);
                };

                $scope.selectChange = function() {
                    if (($scope.docs) && ($scope.docs.length < $scope.range.count)) {
                        $scope.range.forward = 0;
                        $scope.getDocs();
                    }
                };

                $scope.docCheck = function(doc) {
                    return doc.document ? doc.document : doc;
                };

                $scope.rowsPerPage = [15, 20, 30, 40, 50];

                $scope.getDocs();

            }
        </script>

    </head>
    <body data-ng-controller="DocCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">VIO</a>
            </div>
            <form class="navbar-form navbar-left" data-ng-submit="setSearch()">
                <div class="form-group">
                    <input type="text" 
                           class="form-control" 
                           data-ng-model="searchQueryText"
                           placeholder="введите строку поиска">
                </div>
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>Поиск 
                </button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#contact">About</a></li>
            </ul>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>шифр</th>
                                <th>имя</th>
                                <th>формат</th>
                                <th>цвет</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="doc in docs|filter: searchQuery">
                                <td>{{(docCheck(doc)).id}}</td>
                                <td>{{(docCheck(doc)).code}}</td>
                                <td>{{(docCheck(doc)).name}}</td>
                                <td>{{(docCheck(doc)).format.val}}</td>
                                <td>{{(docCheck(doc)).color.val}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div><!--//row with table-->

            <div class="row">
                <form class="col-lg-12 form-horizontal" data-ng-submit="getDocs()">
                    <div class="form-group">
                        <div class="col-lg-3">
                            <button class="btn btn-default btn-sm" data-ng-click="setFetchNarrow(-1)" 
                                    type="submit">
                                <span class="glyphicon glyphicon-step-backward"></span>Назад
                            </button>
                        </div>
                        <label for="selectCount" class="col-lg-2 control-label">Выбирать по</label>
                        <div class="col-lg-4">
                            <select class="form-control input-sm" id="selectCount" data-ng-change="selectChange()"
                                    data-ng-model="range.count">
                                <option data-ng-selected="rpp==range.count" 
                                        data-ng-repeat="rpp in rowsPerPage" value="{{rpp}}">{{rpp}} строк</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <button class="pull-right btn btn-default btn-sm" data-ng-click="setFetchNarrow(+1)"
                                    type="submit">
                                Далее<span class="glyphicon glyphicon-step-forward"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!--//paginator-->

            <hr>
            <footer>
                <span>VIO project, <a name="contact" href="mailto:rook.alex@gmail.com">2013 IT Department</a></span>
            </footer>
        </div>

    </body>
</html>
