
<form class="col-lg-12 form-horizontal">
    <legend>{{legend}}</legend>
    <!--
   {
    "id":115,
    "name":"..энергия и ... безопасность.",
    "code":"",
    "regNum":null,
    "format":{"id":1,"val":"Книга"},
    "color":{"id":6,"val":"Зеленый"}
    }
    -->
    <div class="form-group">
        <label for="docType" class="col-lg-2 control-label">Тип документа</label>
        <div class="col-lg-10">
            <!--select class="form-control" id="docType">
                <option selected='selected' value="undefined">&lt;Все типы документов&gt;</option>
                <option data-ng-repeat="doctype in doctypes.items"
                        data-ng-selected="documents.item.docType.id===doctype.id"
                        value="{{doctype.id}}">{{doctype.val}}</option>
            </select-->
            <select class="form-control" id="docType"
                    data-ng-model="documents.item.docType"
                    data-ng-options="doctype as doctype.val  group by doctype.parentDocType.val for doctype in doctypes.items track by doctype.id">
                <option value="">&lt;Все типы документов&gt;</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="docFormat" class="col-lg-2 control-label">Формат документа</label>
        <div class="col-lg-10">
            <!--select class="form-control" id="docFormat">
                <option selected='selected' value="undefined">&lt;Все форматы&gt;</option>
                <option data-ng-repeat="format in formats.items"
                     data-ng-selected="documents.item.format.id===format.id"
                        value="{{format.id}}">{{format.val}}</option>
            </select-->
            <select class="form-control" id="docFormat"
                    data-ng-model="documents.item.format"
                    data-ng-options="format as format.val for format in formats.items track by format.id">
                <option value="">&lt;Все форматы&gt;</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="docColor" class="col-lg-2 control-label">Цвет</label>
        <div class="col-lg-10">
            <!--select class="form-control" id="docColor"
                     data-ng-model="documents.item.color">
                <option selected='selected' value="undefined">&lt;не указано&gt;</option>
                <option data-ng-repeat="color in colors.items"
                         data-ng-selected="documents.item.color.id===color.id"
                        value="{{color.id}}">{{color.val}}</option>
            </select-->
            <select class="form-control" id="docColor"
                    data-ng-model="documents.item.color"
                    data-ng-options="color as color.val for color in colors.items track by color.id">
                <option value="">&lt;не указано&gt;</option>
            </select>
        </div>
    </div>

    <input type="hidden" id="id" data-ng-model="documents.item.id">

    <div class="form-group">
        <label for="code" class="col-lg-2 control-label">Шифр</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="code" placeholder="&lt;Шифр&gt;"
                   data-ng-model="documents.item.code">
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Имя</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="name" placeholder="&lt;Имя&gt;"
                   data-ng-model="documents.item.name">
        </div>
    </div>

    <div class="form-group">
        <label for="desc" class="col-lg-2 control-label">Описание</label>
        <div class="col-lg-10">
            <textarea id="desc"
                      data-ng-model="documents.item.description"
                      rows="3"
                      class="form-control"
                      placeholder="&lt;Описание&gt;"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>
</form>
<div>
    <hr>
    <pre>{{routeParams|json}}</pre>
    <pre>{{documents.item|json}}</pre>
</div>

